*{
margin: 0 auto;
padding: 0;
}
body{
    max-width: 1600px;
    margin-left: 50px;
    margin-right: 50px;
   
}
.front-open-sans{
    font-family: "Open Sans",sans-serif;
    font-optical-sizing: auto
    ;
}
header{
    background-color: #FFFFF;
padding: 16px 120px;
}
.conteinar{
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    gap: 32px;
    list-style: none;
  padding: 16px 120px;
}
.list a{
    text-decoration: none;
  
}
.btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30b868;
    color:white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .3s;


}
.btn:hover{
    background-color: darkgreen;
    
}
/* banner */
.banner-conteinar-parent{
    text-align: center;
    padding: 120px;
    /* display: flex; */
    column-gap: 34px;
    background-image:url(../images/hero-bg.png);
    color: white;
    
    gap: 134px;
}
.icon{
    background-color: white;
    color:#30b830 ;
    border: none;
    border-radius: 10px;
}
.icon i{
    color: #30b830;
    
}
.play-btn{
    
}

/* notes */
.heading{
    text-align: center;
    margin-top: 20px;
}
.heading p{
    color:#627382;
    font-size: 16px;
}
.heading h1{
    font-size: 50px;
}
.card{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    margin-right: 20px;

    
   
    
}
.book{
    background-color: #F2F6F1;
    margin-left: 70px;
     margin-top: 50px;
     padding: 30px;
}
.book i{
    width: 30px;
    height: 25px;
    padding-top: 9px;
    background-color: #f95555;
    border-radius: 50%;
    color: white;
}
.book p{
    color:#627382;
}
.vector img{
    background-color: #f95555;
}
/* brain */
.brain-section{
    display: flex;
    justify-content: space-between;
    padding: 120px;
   /* margin: 0px 50px 30px 50px;  */
}
.point{
    padding-top: 80px;
}
.point h3{
    color: #30b868;
}
#pera{
    color: #627382;
}
.check i{
    color: #30b868;
}
    /* ready */
    .ready{
        text-align: center;
        padding: 80px 40px;
        /* margin-top: auto; */
        margin: 0px 50px 30px 50px;
        background-color: #F7F6F2;
    }
    /* footer */
    footer{
        background-color: #001931;
    }
    .root{

         margin-left: 50px;
        margin-right: 250px;
        margin-top: 40px;
        padding-top: 30px;
     display: flex;
     justify-content: space-between;
    }
    .last{
        text-align: center;
        margin-top: 50px;
        padding-bottom:20px;
        color: white;
    }
    .logo{
        color: white;
    }